.navbar, .navbar-inner{
	border-radius: 0;
}
.main-container{
	padding-top: 70px;
}


/** Schedule CSS **/
.table{
	font-size: 13px;
	margin-bottom: 0;
}

.table tr td:first-child{
	padding-right: 0;
}

td.schedule-day{
	padding: 5px 5px 5px 20px !important;
}

.schedule-day ul{
	padding: 5px 0 5px 10px;
	margin: 0;
}

.schedule-day ul li{
	padding: 5px 0;
}

.show-genre{
	font-size:18px;
}

h3{
	font-size: 26px;
}

p{
	font-size: 13px;
}

/**********************************
*	Search CSS
**********************************/
.search-results tbody > tr > td{
	vertical-align: middle;
}

/**********************************
*	Datatables
**********************************/
div.dataTables_length label {
	width: auto;
    float: left;
    text-align: left;
    padding-top: 11px;
}
 
div.dataTables_length select {
    width: 75px;
}

div.bottom-table{
    margin-top: 10px;
} 

div.dataTables_info {
    padding-top: 15px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}

.pagination ul li {
margin-right: -2px;
}