.navbar, .navbar-inner{
	border-radius: 0;
}
.main-container{
	padding-top: 70px;
}

.table{
	font-size: 13px;
	margin-bottom: 0;
}

.table tr td:first-child{
	padding-right: 0px;
}

td.schedule-day{
	padding: 5px 5px 5px 20px !important;
}

.schedule-day ul{
	padding: 5px 0 5px 10px;
	margin: 0;
}

.schedule-day ul li{
	padding: 5px 0;
}

.show-genre{
	font-size:18px;
}

h3{
	font-size: 26px;
}

p{
	font-size: 13px;
}

.search-results tbody > tr > td{
	vertical-align: middle;
}



/**********************************
*	Datatables
**********************************/
div.dataTables_length label {
    width: 460px;
    float: left;
    text-align: left;
}
 
div.dataTables_length select {
    width: 75px;
}
 
div.dataTables_filter label {
    float: right;
    width: 460px;
}
 
div.dataTables_info {
    padding-top: 8px;
}
 
div.dataTables_paginate {
    float: right;
    margin: 0;
}
 
table {
    margin: 1em 0;
    clear: both;
}


.pagination ul li {
margin-right: -2px;
}