.navbar, .navbar-inner{
	border-radius: 0;
}
.main-container{
	padding-top: 70px;
}

.table{
	font-size: 13px;
	margin-bottom: 0;
}

.table tr td:first-child{
	padding-right: 0px;
}

td.schedule-day{
	padding: 5px 5px 5px 20px !important;
}

.schedule-day ul{
	padding: 5px 0 5px 10px;
	margin: 0;
}

.schedule-day ul li{
	padding: 5px 0;
}

.show-genre{
	font-size:18px;
}

h3{
	font-size: 26px;
}

p{
	font-size: 13px;
}

.search-results tbody > tr > td{
	vertical-align: middle;
}